.page-wrapper {
  display: block;
  background: url(../../images/coll3/editorial2.jpg) no-repeat;
  height: 650px;
  overflow: hidden;
  background-size: cover;
  background-position: 10% 45%;
  opacity: 0.7;
  position: absolute;
  width: 100%;
}
@media only screen and (max-width: 500px) {
  .page-wrapper {
    height: 650px;
  }
}

.img-wrapper {
  width: 1000px;
  height: 500px;
  margin: 75px auto;
  max-width: 100%;
  position: relative;
}
@media only screen and (max-width: 500px) {
  .img-wrapper {
    height: 500px;
  }
}

.diamond-text {
  text-align: center;
  width: 310px;
  position: relative;
  margin: 0 auto;
  height: 400px;
  position: absolute;
  z-index: 99999;
  top: 3%;
  left: 33%;
}
@media only screen and (max-width: 500px) {
  .diamond-text {
    top: 0%;
    left: 12%;
  }
}
.diamond-text .text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
}
@media only screen and (max-width: 500px) {
  .diamond-text .text {
    width: 300px;
  }
}
.diamond-text .text h2, .diamond-text .text h5 {
  font-family: "Bitter", serif;
}
.diamond-text .text h2 {
  margin: 20px auto;
}
.diamond-text .text p {
  font-family: "Work Sans", sans-serif;
}

.shape {
  background-color: #eddad3;
  width: 500px;
  height: 500px;
  position: absolute;
  transform: rotate(-45deg) translateY(-23%);
  margin: 0px auto;
  opacity: 0.85;
  top: 18%;
  left: 32%;
}
@media only screen and (max-width: 500px) {
  .shape {
    top: 15%;
    left: 8%;
  }
}
