.homepage-main {
  width: 100%;
  height: auto;
}
.homepage-main__hero-wrapper {
  background-color: #1d1d21;
  position: relative;
  width: 100%;
}
.homepage-main__hero-wrapper .editorial1 {
  background: url(../../images/coll3/editorial1.jpg) no-repeat;
}
.homepage-main__hero-wrapper .editorial2 {
  background: url(../../images/coll3/editorial2.jpg) no-repeat;
}
.homepage-main__hero-wrapper .editorial3 {
  background: url(../../images/coll3/editorial3.jpg) no-repeat;
}
.homepage-main__hero-wrapper .editorial4 {
  background: url(../../images/coll3/editorial4.jpg) no-repeat;
}
.homepage-main__hero-wrapper .editorial5 {
  background: url(../../images/coll3/editorial5.jpg) no-repeat;
}
.homepage-main__hero-wrapper .editorial6 {
  background: url(../../images/coll3/editorial6.jpg) no-repeat;
}
.homepage-main__hero-wrapper .editorial1, .homepage-main__hero-wrapper .editorial2, .homepage-main__hero-wrapper .editorial3, .homepage-main__hero-wrapper .editorial6 {
  background-position: 10% 45%;
}
.homepage-main__hero-wrapper .editorial4 {
  background-position: 40% 40%;
}
.homepage-main__hero-wrapper .editorial5 {
  background-position: 20% 65%;
}
.homepage-main__hero-wrapper .editorial1, .homepage-main__hero-wrapper .editorial2, .homepage-main__hero-wrapper .editorial3, .homepage-main__hero-wrapper .editorial4, .homepage-main__hero-wrapper .editorial5, .homepage-main__hero-wrapper .editorial6 {
  display: block;
  height: 500px;
  overflow: hidden;
  background-size: cover;
  opacity: 0.7;
  position: relative;
}
@media only screen and (max-width: 528px) {
  .homepage-main__hero-wrapper .editorial1, .homepage-main__hero-wrapper .editorial2, .homepage-main__hero-wrapper .editorial3, .homepage-main__hero-wrapper .editorial4, .homepage-main__hero-wrapper .editorial5, .homepage-main__hero-wrapper .editorial6 {
    background-position: 36% 45%;
    height: 350px;
  }
}
.homepage-main__mini-slider {
  width: 1000px;
  margin: 0 auto;
}
@media only screen and (max-width: 528px) {
  .homepage-main__mini-slider {
    height: 150px;
  }
}
.homepage-main__mini-slider .slider-nav {
  margin: 0 auto;
  width: 800px;
  border: transparent !important;
  border-color: #000 !important;
}
@media only screen and (max-width: 528px) {
  .homepage-main__mini-slider .slider-nav {
    margin: 0;
  }
}
.homepage-main__mini-slider .slider-nav .slick-list {
  height: auto;
  padding: 0px 30px;
}
.homepage-main__mini-slider .slider-nav .slick-track {
  transform: none !important;
}
.homepage-main__mini-slider .slider-nav .slider-img {
  border: transparent !important;
  border-color: #000 !important;
  width: auto !important;
  height: 90px;
  margin: 10px 5px;
  cursor: pointer;
}
@media only screen and (max-width: 528px) {
  .homepage-main__mini-slider .slider-nav .slider-img {
    height: 90px;
    margin: 10px;
  }
}
.homepage-main__mini-slider .slider-nav .slick-current {
  border: transparent !important;
  border-color: #000 !important;
}
.homepage-main__content {
  width: 1000px;
  height: 400px;
  margin: 50px auto 0 auto;
  max-width: 100%;
  position: relative;
}
@media only screen and (max-width: 550px) {
  .homepage-main__content {
    height: 400px;
  }
}
.homepage-main__content .text-box {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}
@media only screen and (max-width: 550px) {
  .homepage-main__content .text-box {
    width: 350px;
    padding: 0 20px 0 0;
  }
}
.homepage-main__content .text-box h2 {
  font-family: "Bitter", serif;
  padding-bottom: 10px;
}
@media only screen and (max-width: 470px) {
  .homepage-main__content .text-box h2 {
    margin-top: 72px;
  }
}
.homepage-main__content .text-box p, .homepage-main__content .text-box a {
  font-family: "Work Sans", sans-serif;
}
.homepage-main__content .text-box a {
  text-align: center;
  color: #000;
  margin: 0 auto;
}
.homepage-main__content .text-box a:hover {
  text-decoration: none !important;
  font-weight: bold !important;
  cursor: pointer !important;
  color: #d6b2a4;
}
@media only screen and (max-width: 555px) {
  .homepage-main__content .text-box a {
    text-align: center;
    float: none;
  }
}
.homepage-main__content .text-box a h5 {
  width: 150px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 3px #d6b2a4 solid;
  text-align: center;
  margin: 0 auto;
}
@media only screen and (max-width: 555px) {
  .homepage-main__content .text-box a h5 {
    text-align: center;
    margin: 0 auto;
  }
}
