.page-wrapper {
  display: block;
  background: url(../../images/coll3/editorial2.jpg) no-repeat;
  height: 600px;
  overflow: hidden;
  background-size: cover;
  background-position: 10% 45%;
  opacity: 0.7;
  position: absolute;
  width: 100%;
}
@media only screen and (max-width: 500px) {
  .page-wrapper {
    height: 650px;
  }
}

.img-wrapper {
  width: 1000px;
  height: 450px;
  margin: 75px auto;
  max-width: 100%;
  z-index: 9999;
  position: relative;
}
@media only screen and (max-width: 500px) {
  .img-wrapper {
    height: 500px;
  }
}

.diamond-text {
  text-align: center;
  width: 275px;
  position: relative;
  margin: 0 auto;
  top: 15%;
}
.diamond-text .text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
}
.diamond-text .text h2, .diamond-text .text h5, .diamond-text .text p {
  margin: 30px auto;
  font-family: "Bitter", serif;
}
.diamond-text .text a {
  color: #c35059;
  text-decoration: none;
  padding-bottom: 5px;
}
.diamond-text .text a:hover {
  border-bottom: 1px solid #c35059;
  color: #c35059;
}
.diamond-text .text p {
  font-family: "Work Sans", sans-serif;
}
.diamond-text .text i {
  padding: 15px;
}
.diamond-text .shape {
  background-color: #eddad3;
  width: 400px;
  height: 400px;
  position: absolute;
  transform: rotate(-45deg) translateY(-23%);
  margin: 20px auto;
  opacity: 0.8;
}
