$bg-color: #e2cabe;
$bg-color2: #f4ddcd;
$brand-color: #d6b2a4;
$brand-color2: #e2cabe;
$brand-color3: #eddad3;
//homepage

.homepage-main {
  width: 100%;
  height: auto;
  &__hero-wrapper {
    background-color: #1d1d21;
    position: relative;
    width: 100%;
    .hero {
      display: block;
      background: url(../../images/test-hero.jpg) no-repeat;
      height: 500px;
      overflow: hidden;
      background-size: cover;
      background-position: 10% 45%;
      opacity: 0.7;
      position: relative;
      @media only screen and (max-width: 528px) {
        background-position: 36% 45%;
        height: 350px;
      }
    }
    .logo-lockup {
      position: absolute;
      top: 20%;
      // left: 50%;
      width: 100%;
      padding: 10px;
      text-align: center;
      img {
        width: 300px;
      }
    }

  }//end of hero-wrapper

  &__mini-slider {
    height: 200px;
    @media only screen and (max-width: 528px) {
      height: 150px;
    }
    .slider-nav {
      height: 100px;
      width: 900px;
      margin: 0 auto;
      @media only screen and (max-width: 528px) {
        margin: 0;
      }
      .slider-img {
        width: auto !important;
        height: 120px;
        margin: 10px 20px;
        @media only screen and (max-width: 528px) {
          height: 90px;
          margin: 10px;
        }
      }
    }
  }

  &__content {
    width: 1000px;
    height: 350px;
    margin: 0 auto;
    max-width: 100%;
    // background-color: red;
    position: relative;
    @media only screen and (max-width: 550px) {
      height: 400px;
    }
    .text-box {
      text-align: center;
      width: 550px;
      margin: 0 auto;
      @media only screen and (max-width: 550px) {
        width: 350px;
        padding: 0 20px 0 0;
      }
      h4 {
        padding-bottom: 20px;
      }
      a {
        display: block;
        width: 100%;
        // text-align: center;
        // float: right;
        @media only screen and (max-width: 555px) {
          // text-align: center;
          // float: none;
        }
        h5 {
          width: 180px;
          padding-top: 25px;
          padding-bottom: 15px;
          border-bottom: 3px #d6b2a4 solid;
          float: none;
          margin: 0 auto;
          @media only screen and (max-width: 555px) {
            text-align: center;
            margin: 0 auto;
          }
        }
      }

    }
  }
}
