$bg-color: #e2cabe;
$bg-color2: #f4ddcd;
$brand-color: #d6b2a4;
$brand-color2: #e2cabe;
$brand-color3: #eddad3;
$font-family-1:'Bitter', serif;
$font-family-2:  'Work Sans', sans-serif;

//homepage

.homepage-main {
  width: 100%;
  height: auto;
  &__hero-wrapper {
    background-color: #1d1d21;
    position: relative;
    width: 100%;
    .editorial1 {background: url(../../images/coll3/editorial1.jpg) no-repeat;}
    .editorial2 {background: url(../../images/coll3/editorial2.jpg) no-repeat;}
    .editorial3 {background: url(../../images/coll3/editorial3.jpg) no-repeat;}
    .editorial4 {background: url(../../images/coll3/editorial4.jpg) no-repeat;}
    .editorial5 {background: url(../../images/coll3/editorial5.jpg) no-repeat;}
    .editorial6 {background: url(../../images/coll3/editorial6.jpg) no-repeat;}
    .editorial1, .editorial2, .editorial3, .editorial6 {
      background-position: 10% 45%;
    }
    .editorial4 {
      background-position: 40% 40%;
    }
    .editorial5 {
      background-position: 20% 65%;
    }
    .editorial1, .editorial2, .editorial3, .editorial4, .editorial5, .editorial6 {
      display: block;
      height: 500px;
      overflow: hidden;
      background-size: cover;
      opacity: 0.7;
      position: relative;
      @media only screen and (max-width: 528px) {
        background-position: 36% 45%;
        height: 350px;
      }
    }

  }//end of hero-wrapper

  &__mini-slider {
    // height: 100px;
    width: 1000px;
    margin: 0 auto;
    @media only screen and (max-width: 528px) {
      height: 100px;
      // display: none;
      width: 350px;
    }
    .slider-nav {
      margin: 0 auto;
      width: 800px;
      border: transparent !important;
      border-color: #000 !important;
      @media only screen and (max-width: 528px) {
        margin: 0;
      }
      .slick-list {
        height: auto;
        padding: 0px 30px;
        @media only screen and (max-width: 528px) {
          padding: 0 !important;
        }
       }
      .slick-track {
        transform: none !important;
      }
      .slider-img {
        border: transparent !important;
        border-color: #000 !important;
        width: auto !important;
        height: 90px;
        margin: 10px 5px;
        cursor: pointer;
        @media only screen and (max-width: 528px) {
          height: 90px;
          margin: 10px;
          display: block
        }
      }
      .slick-current {
        border: transparent !important;
        border-color: #000 !important;
      }
    }
  }

  &__content {
    width: 1000px;
    height: 400px;
    margin: 50px auto 0 auto;
    max-width: 100%;
    position: relative;
    @media only screen and (max-width: 550px) {
      height: 550px;
    }
    .text-box {
      text-align: center;
      width: 500px;
      margin: 0 auto;
      @media only screen and (max-width: 500px) {
        width: 330px;
        padding: 0 30px 0 0;
      }
      h2 {
        font-family: $font-family-1;
        padding-bottom: 10px;
        @media only screen and (max-width: 470px) {
          margin-top: 72px;
        }
      }
      p, a {
        font-family: $font-family-2;
      }
      a {
        // display: block;
        text-align: center ;
        // float: right;
        color: #000;
        margin: 0 auto;
        text-decoration: none !important;
        &:hover {
          text-decoration: none !important;
          font-weight: bold !important;
          cursor: pointer !important;
          color: $brand-color;
        }
        @media only screen and (max-width: 555px) {
          text-align: center;
          float: none;
        }
        h5 {
          width: 150px;
          padding-top: 10px;
          padding-bottom: 15px;
          border-bottom: 3px #d6b2a4 solid;
          text-align: center;
          margin: 0 auto;
          @media only screen and (max-width: 555px) {
            text-align: center;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
