$bg-color: #e2cabe;
$bg-color2: #f4ddcd;
$brand-color: #d6b2a4;
$brand-color2: #e2cabe;
$brand-color3: #eddad3;

// .productpage-main {
//   width: 940px;
//   margin: 80px auto;
//   height: auto;
//   &__hero-wrapper {
//     width: 50%;
//     float: left;
//     // background-color: #1d1d21;
//     // position: relative;
//     // width: 100%;
//     .hero {
//       width: 300px;
//       // display: block;
//       // background: url(../../images/test-hero.jpg) no-repeat;
//       // height: 500px;
//       // overflow: hidden;
//       // background-size: cover;
//       // background-position: 10% 45%;
//       // opacity: 0.7;
//       // position: relative;
//
//       @media only screen and (max-width: 528px) {
//         background-position: 36% 45%;
//         height: 350px;
//       }
//     }
//   }//end of hero-wrapper
//
//   &__mini-slider {
//     height: 200px;
//     @media only screen and (max-width: 528px) {
//       height: 150px;
//     }
//     .slider-nav {
//       height: 100px;
//       width: 900px;
//       margin: 0 auto;
//       @media only screen and (max-width: 528px) {
//         margin: 0;
//       }
//       .slider-img {
//         width: auto !important;
//         height: 120px;
//         margin: 10px 20px;
//         @media only screen and (max-width: 528px) {
//           height: 90px;
//           margin: 10px;
//         }
//       }
//     }
//   }
// }

.page-wrapper {
  width: 900px;
  margin: 50px auto 20px auto;
  position: relative;
  height: 700px;
  .img-wrapper {
    width: 50%;
    float: left;
    position: absolute;
    .slider-for { }
    .hero-wrapper {
      padding: 10px;
      height: 350px;
      &__img {
        width: 500px !important;
      }
    }
    .thumbnail-wrapper {
      margin: 10px auto;
      padding: 10px;
      position: relative;
      .slider-nav {
        display: inline-block;
        .slider-img {
          width: 200px;
          padding-right: 10px;
        }
      }
    }
  }

}
