$bg-color: #e2cabe;
$bg-color2: #f4ddcd;
$brand-color: #d6b2a4;
$brand-color2: #e2cabe;
$brand-color3: #eddad3;
$font-family-1: 'Bitter', serif;
$font-family-2: 'Work Sans', sans-serif;

.page-wrapper {
  width: 900px;
  margin: 25px auto 50px auto;
  position: relative;
  height: 700px;
  @media only screen and (max-width: 528px) {
    height: 850px;
    margin: 20px;
  }
  @media only screen and (max-width: 768px) {
    height: 1000px;
  }
  a {
    display: block;
    text-align: left;
    float: left;
    width: 100%;
    .back {
      width: 100px;
      padding: 25px 0 15px;
      border-bottom: 3px #d6b2a4 solid;
      margin: 10px 0 50px 10px;
      float: left;
    }
  }
  .img-wrapper {
    width: 50%;
    float: left;
    position:relative;

    .slider-for {
      height: 200px !important;
    }
    .hero-wrapper {
      padding: 10px;
      height: 300px;
      &__img {
        @media only screen and (max-width: 528px) {
          width: 300px !important;
          display: block;
          margin: 0 auto;
          height: 200px !important;
        }
      }
    }
    .thumbnail-wrapper {
      margin: 10px auto;
      padding: 100px 0 0 10px;
      position: relative;
      @media only screen and (max-width: 528px) {
        padding: 10px;
      }
      .slider-nav {
        .slick-list{ padding: 0 !important;}
        display: inline-block;
        .slider-img {
          width: 150px;
          padding-right: 10px;
          @media only screen and (max-width: 528px) {
            width: 100px;
          }
        }
      }
    }
  }
  .text-wrapper {
    width: 45%;
    float: right;
    position: relative;
    @media only screen and (max-width: 830px) {
      float: none;
    }

    .text-box {
      margin-left: 30px;
      width: 300px;
      text-align: justify;
      @media only screen and (max-width: 528px) {
        margin:10px;
      }
      h4 {
        margin-top:20px;
      }

    }
    a {
      display: block;
      text-align: right;
      float: right;
      width: 100%;
      .cta {
        width: 100px;
        padding-top: 25px;
        padding-bottom: 15px;
        border-bottom: 3px #d6b2a4 solid;
        margin: 10px 0;
        float: right;
        @media only screen and (max-width: 528px) {
          padding-top: 5px;
        }
      }
      .next {
        width: 100px;
        padding-top: 25px;
        padding-bottom: 15px;
        border-bottom: 3px #d6b2a4 solid;
        margin: 100px 0;
        float: right;
        @media only screen and (max-width: 528px) {
          margin: 0;
        }
      }
    }
  }


}
