$bg-color: #f4ddcd;
$brand-color: #d6b2a4;

//homepage

.homepage-main {
  width: 100%;
  height: auto;
  &__hero-wrapper {
    background-color: #1d1d21;
    position: relative;
    width: 100%;
    .hero {
      display: block;
      background: url(../images/test-hero.jpg) no-repeat;
      height: 400px;
      overflow: hidden;
      background-size: cover;
      background-position: 10% 45%;
      opacity: 0.7;
      position: relative;
    }
    .logo-lockup {
      position: absolute;
      top: 30%;
      // left: 50%;
      width: 100%;
      padding: 10px;
      text-align: center;
    }
  }//end of hero-wrapper

  &__content {

  }





}// end of homepage-main
